.about {
  margin-top: 20px;
  width: 334px;
  height: 770px;
  background-color: var(--color-dark-light);
  border-radius: 18px;
  border: 1px solid var(--color-border);

  @include desktop {
    width: 290px;
    height: 660px;
    margin-top: 18px;
  }

  @include mobile {
    width: 337px;
    height: 600px;
    margin-top: 22px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__text {
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    gap: 9px;
    padding-top: 65px;

    @include desktop {
      padding-top: 0;
    }
  }

  &__avatar {
    height: 250px;
  }

  &__media {
    padding-top: 47px;
  }
}
.avatar {
  display: inline-flex;
  position: relative;
  top: -119px;

  @include desktop {
    width: 98px;
    top: -104px;
  }

  @include mobile {
    width: 120px;
    top: -118px;
  }
}
.avatar__background {
  //opacity: 70%;
  border-radius: 18px;
}

.mask {
  mask-image: linear-gradient(180deg, #D9D9D9 0%, rgba(115, 115, 115, 0) 73.63%);

}

.text-teg {
  color: var(--color-gray);
  line-height: 34px;

  @include fluid-text(26, 14)
}

.text-name {
  text-shadow: 0 0 15px #E9E9E9;
  font-weight: 400;

  @include fluid-text(31, 18)
}

.block {
  margin-bottom: 230px;

  @include desktop {
    margin-bottom: 170px;
  }

  @include mobile {
    margin-bottom: 110px;
  }

  span {
    @include fluid-text(11, 8);
    font-weight: 500;
    line-height: 16px;
    color: var(--color-white);
  }

  &__git {
    display: flex;
    gap: 1px;
    border: 1px solid var(--color-white);
    border-radius: 24px;
  }

  &__telegram {
    display: flex;
    gap: 1px;
    border: 1px solid #4DC3FF;
    border-radius: 24px;
  }

  &__discord {
    display: flex;
    gap: 1px;
    border: 1px solid #5865F2;
    border-radius: 24px;
  }
}

.border {
  width: 95px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include desktop {
    width: 80px;
    height: 28px;
  }
}

.block {
  display: inline-flex;
  gap: 7px;
  padding-top: 13px;
  border-top: 1px solid var(--color-border);

  @include desktop {
    gap: 11px;
    padding-top: 30px;
  }
}

.donate__body {

  span {
    color: var(--color-white);
    font-weight: 700;
    line-height: 20px;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: var(--color-gray);
  border-radius: 12px;
  box-shadow: 0 6px 16.3px 0 #77777759;
  width: 282px;
  height: 52px;

  @include desktop {
    width: 244px;
    height: 44px;
  }

  @include mobile {
    width: 215px;
    height: 34px;
  }
}

.avatar__text--small {
  font-size: 14px !important;
}