.container {

  padding-inline: 363px;

  @include desktop {
    padding-inline: 200px;
  }

  @include tablet {
    padding-inline: 100px;
  }

  @include mobile {
    padding-inline: 20px;
  }
}

.main {
  display: flex;
  justify-content: center;
  gap: 22px;

  @include desktop {
    gap: 16px;
  }

  @include tablet {
    gap: 12px;
  }

  @include mobile {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-bottom: 40px;
  }
}
